@import url(./global_used_files/style_base.css);

.disclaimer-div {
    background-color: #821131;
    overflow: hidden;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 75%;
    text-align: center;
    border: solid 10px #C7253E;
    border-radius: 30px;
    animation: vibration 2s ease 0.5s 1 normal forwards;
}

.disclaimer-yellow-strip {
    background-color: #fa9c3f;
    height: 1em;
}

.disclaimer-title {
    /* Astuce pour mettre du linear gradient dans du texte*/
    background-image: var(--red-gradient);
    color: transparent;
    background-clip: text;
}

.disclaimer-div > p {
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}

body {
    background: var(--white-blue-gradient);
    background-attachment: fixed;
}