body {

    margin: 10mm;
    background-color: #3f3f45a2;
  
  }
  
.groupe {

    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    background-image: url("haut_de_page_pigeons2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
  }

.haut_de_page {
    
  background-image: url("haut_de_page_pigeons.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  padding: 20px;
}

.titres {

    justify-self: center;
    justify-items: center;
    padding: 30px;
    font-size: large;
    color : rgb(209, 195, 195);
    background-color: #3f3f45a2;
    border-radius: 10% 20%;
}

.sous-groupe {

  justify-items: center;
  padding: 20px;

}

#video {
  border-radius: 30px;
  padding: 15px;
}

.page{

  padding: 20px;
  display: grid;
  grid-template-columns: auto auto;

}

.bandeau {

  padding: 20px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;

}