
/* Variables */
:root {
    /* Les gradients ont été générés avec https://non-boring-gradients.netlify.app/ */
    --red-gradient: linear-gradient(32deg, rgb(77.255% 20.784% 20.784%) 0%, rgb(77.473% 21.052% 20.585%) 6.25%, rgb(78.121% 21.844% 19.993%) 12.5%, rgb(79.172% 23.131% 19.033%) 18.75%, rgb(80.586% 24.862% 17.741%) 25%, rgb(82.309% 26.971% 16.166%) 31.25%, rgb(84.275% 29.378% 14.369%) 37.5%, rgb(86.409% 31.99% 12.42%) 43.75%, rgb(88.627% 34.706% 10.392%) 50%, rgb(90.846% 37.422% 8.365%) 56.25%, rgb(92.98% 40.033% 6.415%) 62.5%, rgb(94.946% 42.44% 4.619%) 68.75%, rgb(96.669% 44.55% 3.044%) 75%, rgb(98.083% 46.281% 1.751%) 81.25%, rgb(99.134% 47.568% 0.791%) 87.5%, rgb(99.781% 48.36% 0.2%) 93.75%, rgb(100% 48.627% 0%) 100% );
}

/* Animations */

@keyframes vibration {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(-2px, 2px);
	}

	40% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, 2px);
	}

	80% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}