/*
    Importons des élèments répétitifs
    Il est préférable de lire d'abord les styles répétitifs
    pour mieux comprendre ce fichier, et pourquoi il est si vide
*/
@import url(./../global_used_files/style_base.css);

/* Style pour le jeu */
@import url(./../_game/style.css);

#at-center {
    /*
    Pour la barre de navigation à gauche sans casser le footer
    (pas besoin de s'embêter avec un flexbox un grid est suffisant)
    */
    display: grid;
    grid-template-columns: 20% auto;
    margin-top: 15pt;
}

aside {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: var(--white-blue-gradient);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: solid 2px var(--border-color);
    animation: fade-in-left 1.5s cubic-bezier(0.65, 0, 0.35, 1) 0s 1 normal forwards;
}

aside > em {
    font-weight: bold;
}

/* Masque la barre de navigation sur les petits écrans*/
@media (max-width: 640px) {
    aside {
        visibility: collapse;
    }
    #at-center {
        grid-template-columns: auto;
    }
}

section {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;
}

article {
    margin: 10px;
    padding: 10px;
    flex-basis: 200px;
    flex-grow: 1;
    border-radius: 10px;
    border: solid 2px var(--border-color);
    background-color: rgb(228, 246, 255);
    text-align: justify;
}

.larger {
    flex-basis: 350px;
    flex-grow: 2;
}

h2 {
    margin-top: 0;
    text-align: center;
}

.centered-container {
    text-align: center;
}

.embedded-content {
    border-radius: 10px;
    border: solid 2px var(--border-color);
}

img {
    width: 75%;
}