body {
	width:100%;
	margin: 10mm;
	background:url('seychelles.jpg') no-repeat center fixed;
	background-size: cover; /* version standardisée */ 
	color:orange; font-weight:bold;
}
table {
	width: 60mm;
}
td {
	text-align: center; vertical-align: middle; width:30mm;
} 
.centre {
	text-align:center;
}


