 /* On est sur téléphone a priori, les options sont donc pour l'instant celles de la configuration téléphone */
body {
    background-color: gray;
    color: rgb(255, 255, 255);

    /* Pour la lisibilité */
    font-size: 12px;
}

header {
    text-align: center;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Ne pas afficher le bandeau */
#bandeau {
    display: none;
}


#science table, th, td {
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
}

#savoir_plus, #externes {
    text-align: center;
}

#liens {
    display: flex;
    justify-content: space-evenly;
}

/* Solution moche, mais c'est tout ce que j'ai trouvé pour changer la couleur du svg */
/* https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element */
#externes img {
    filter: invert(10%) sepia(100%) saturate(5901%) hue-rotate(246deg) brightness(90%) contrast(148%);
    height: 250px;
    width: auto;
}

/* Sur ordinateur : 740px car la page nécéssite une assez grande largeur */
@media screen and (min-width: 740px)  {
    body {
        background-size: cover;
        background-image: url("images/bg_pigeons.jpg");

        /* Met en configuration flex le bandeau à gauche et le contenu à droite, avec un espce au milieu */
        display: flex;
        justify-content: flex-start;
        gap: 30px;

        /* Pour la lisibilité avec le background */
        backdrop-filter: blur(5px) saturate(70%);
    }

    /* On change la couleur des liens visités pour la lisibilité sur le background, le violet est trop sombre */
    :visited {
        color: blue;
    }

    main {
        /* Setup de la grille */
        display: grid;
        grid-template-rows: 45% 10% 45%;
        grid-template-columns: 45% 10% 45%;
    }

    /* Placement des articles */
    #politique {
        grid-row: 1;
        grid-column: 1;
    }
    #societe {
        grid-row: 1;
        grid-column: 3;
    }

    #science {
        grid-row: 3;
        grid-column: 1;
    }
    #savoir_plus {
        grid-row: 3;
        grid-column: 3;
    }

    /* Ne pas afficher les liens externes, qui sont dans le bandeau */
    #externes {
        display: none;
    }

    /* Configuration du bandeau */
    #bandeau {
        height: 100vh; /* Le bandeau doit prendre toute la page */

        /* Aligne les 3 items de haut en bas : le titre en haut, les liens au centre et le logo en bas */
        display: flex;
        flex-direction: column;
        justify-content:space-between;

        backdrop-filter: blur(10px); /* Permet de démarquer le bandeau du reste de la page */
        
        text-align: center;
    }

    #bandeau ul {
        text-align: left; /* Aligne la liste correctement */
    }

    #bandeau img {
        filter: invert(10%) sepia(100%) saturate(5901%) hue-rotate(246deg) brightness(90%) contrast(148%);
    }

    /* Désactive le titre en haut de page */
    #titre {
        display: none;
    }
}