body {
    background-color: gray;
    color: rgb(255, 255, 255);

    /* Met en configuration flex le bandeau à gauche et le contenu à droite, avec un espce au milieu */
    display: flex;
    justify-content: flex-start;
    gap: 30px;

    /* Pour la lisibilité */
    font-size: 13px;
    backdrop-filter: blur(5px) saturate(70%); 
}

header {
    text-align: center;
    font-weight: 200;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bandeau {
    display: none; /* On est sur téléphone a priori*/
}


#science table, th, td {
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
}

/* Sur ordinateur */
@media screen and (min-width: 640px)  {
    body {
        background-size: cover;
        background-image: url("images/bg_pigeons.jpg");
    }

    main {
        /* Setup de la grille */
        display: grid;
        grid-template-rows: 45% 10% 45%;
        grid-template-columns: 45% 10% 45%;
    }

    /* Placement des articles */
    #politique {
        grid-row: 1;
        grid-column: 1;
    }
    #societe {
        grid-row: 1;
        grid-column: 3;
    }

    #science {
        grid-row: 3;
        grid-column: 1;
    }
    #savoir_plus {
        grid-row: 3;
        grid-column: 3;
    }

    /* Configuration du bandeau */
    .bandeau {
        height: 100vh; /* Le bandeau doit prendre toute la page */

        /* Aligne les 3 items de haut en bas : le titre en haut, les liens au centre et le logo en bas */
        display: flex;
        flex-direction: column;
        justify-content:space-between;

        backdrop-filter: blur(10px);
        
        text-align: center;

    }

    .bandeau ul {
        text-align: left; /* Aligne la liste */
    }

    .bandeau img {
        filter: invert(10%) sepia(100%) saturate(5901%) hue-rotate(246deg) brightness(90%) contrast(148%);
    }

    /* Désactive le titre en haut de page */
    .titre {
        display: none;
    }
}